.header {
    background-color: #28b028;
    height: 80px;
    margin-bottom: 10px;

}

.logo {

    height: 60px;
    margin: 10px;
}
.loginBlock{
    float: right;
    
}
.loginBlock a {
    color: #fff;
}