.siteBar {
    width: 30%;
    background-color: #dea07f;
    margin-right: 10px;

}
.link{
    color: white;
    margin: 20px;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 20px;
}


.link.active{
    color: gold;
}