.post {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    border: #000000 solid 1px;

}

.avatar {
    width: 80px;

}

postItem {
    display: block;
    padding: 20px;
}

.nic {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.title {
    margin: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

.item {
    margin-bottom: 10px;
    font-size: 18px;
}